.produtos {
  margin: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  /* Centraliza os itens */
  max-width: 1200px;  /* Define a largura máxima do contêiner */
  margin: 0 auto;
}