.produto {
    position: relative;
    width: 22%;
    height: 446px;
    margin: 60px 18px 30px 18px;
    color: #3A3A3A;
}

.produto img {
    width: 285px;
    height: 301px;
    display: block;
}

.descricao {
    width: 285px;
    height: 145px;
    padding-top: 10px;
    background-color: #F4F5F7;
}

.descricao h1, .descricao p {
    padding-left: 16px;
}

.descricao h1 {
    font-size: 24px;
    font-weight: 600;
}

.descricao .subtitulo {
    font-size: 16px;
    font-weight: 500;
    color: #898989;
}

.preco {
    display: flex;
}

.preco .p1 {
    font-size: 20px;
    font-weight: 600;
}

.preco .p2 {
    font-size: 16px;
    font-weight: 400;
    color: #B0B0B0;
    text-decoration: line-through;
}

.promocao {
    position: absolute;
    top: 30px; 
    left: 200px;
    width: 48px;
    height: 48px;
    background-color: #E97171;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promocao p {
    text-align: center;
    color: white;
    font-size: 16px;
}

.novoProduto {
    position: absolute;
    top: 30px; 
    left: 200px;
    width: 48px;
    height: 48px;
    background-color: #2EC1AC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.novoProduto p {
    text-align: center;
    color: white;
    font-size: 16px;
}